.badgeWrapper {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 24px;
    align-self: flex-start;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: .3rem .4rem;
    border-radius: 4px;
    color: #1A1918;
    font-size: 12px;
    font-weight: 500;
}

.removeBtn {
    margin-left: .3rem;
    cursor: pointer;
}

