.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: var(--margin-medium) auto;
    padding: var(--padding-small) var(--padding-medium);
    background-color: var(--bg-color-primary);    
    border: .5px solid var(--border-color-primary);
    border-radius: 10px;
}

.adviceRow {
    display: flex;
    justify-content: space-between;
}

.adviceTitle {
    display: none;
}

.selectRow {
    display: flex;
    justify-content: space-between;
}